Данный файл не отражает реального положения вещей.
Полную картину можно получить непосредственно из файлов с исходным кодом, CONTRIBUTORS.md, истории коммитов Git.

Создатель @rpiontik
Идеи и методология @rpiontik
Кодовая база проекта @rpiontik, за исключением:
* Dockerilfe @zhilyaev
* docker-compose.yaml @zhilyaev
